Redirect 301 /generalservices.html https://www.rogercarlsonphd.com/archive/generalservices.html
Redirect 301 /relationshiptherapy.html https://www.rogercarlsonphd.com/archive/relationshiptherapy.html
Redirect 301 /hypnosis.html https://www.rogercarlsonphd.com/archive/hypnosis.html
Redirect 301 /about.html https://www.rogercarlsonphd.com/archive/about.html
Redirect 301 /contact.html https://www.rogercarlsonphd.com/archive/contact.html

